<h2 class="text-center mt-2">Articles Listing</h2>

<!--Utilizing the will_paginate gem to include pagination in the rendering of the articles listing -->
<div class="apple_pagination">
  <%= will_paginate @articles, container: false %>
</div>

<%= render 'articles/article_list' %>

<div class="apple_pagination">
  <%= will_paginate @articles, container: false %>
</div>
