.jumbotron {
  margin: 20px 100px;
  padding: 40px;
  background-color: #68adf3;
  border: round;
  text-align: center;
  background-image: url("AlphaBlog_HomeImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
