<div id="page-backer">
  <div class="container col-6">
    <% flash.each do |msg_type, msg| %>

      <% if msg_type == 'notice' %>
        <% message_display_type = 'alert-success' %>
      <% elsif msg_type == 'warning' %>
        <% message_display_type = 'alert-success' %>
      <% else %>
        <% message_display_type = 'alert-secondary' %>
      <% end %>

      <div class="alert <%= message_display_type %> alert-dismissible fade show" role="alert">

        &#9757; <%= msg_type.capitalize %>: <%= msg %>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
    <% end %>
  </div>
</div>
